body {
    font-family: 'Segoe UI',Tahoma, Geneva, Verdana, sans-serif;
    background-color: #006600;
    color: #ffffcc;
}

h1 {
    font-family: Segoe Print;
    font-size: 32pt;
    text-align: center;
}

h1+h2 {text-align: center;}

h1,h2,h3 {color: gold;}

a {
    color: #ff4000;
    text-decoration: none;
}

#logo {
    width: 100px;
    height: 100px;
    border: 4px solid gold;
    border-radius: 50%;
}

hr {
    height: 25px;
    width: 75%;
    background-image: url(image/foglia.png);
    background-repeat: repeat-x;
    background-position: center;
    background-color: transparent;
    border: none;
}